:host {
    width: 100%;

    --mdc-checkbox-selected-focus-icon-color: #FF7F50;
    --mdc-checkbox-selected-hover-icon-color: #FF7F50;
    --mdc-checkbox-selected-icon-color: #FF7F50;
    --mdc-checkbox-selected-pressed-icon-color: #FF7F50;
    --mdc-checkbox-selected-focus-state-layer-color: #FF7F50;
    --mdc-checkbox-selected-hover-state-layer-color: #FF7F50;
    --mdc-checkbox-selected-pressed-state-layer-color: #FF7F50;
}

.card-container {
    // flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    // justify-content: flex-start;

    display: grid;
    grid-template-columns: repeat(8, 1fr);


    mat-icon {
        font-size: var(--font-large);
        min-width: fit-content;
        height: fit-content;
        color: var(--clr-secondary);
    }

    

}

.info {
    grid-column: span 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.file-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    

    h2, h3 {
        line-height: 1.2;
        
    }
}

.user {
    // flex: 1
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
}

// .date {

//     // justify-self: flex-end;
    
// }

.end {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}