.track {
    height: 6rem;
    width: var(--track-width);
    position: relative;
    border: 0.2rem solid var(--clr-secondary);
    background-color: rgb(197, 197, 197);
    background: linear-gradient(0deg, rgba(179,179,179,1) 0%, rgb(197, 197, 197) 50%, rgba(179,179,179,1) 100%);
}