:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.lyrics-container {
    app-lyrics {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 2;
    gap: 2rem;

    .card-container {
        flex: 1; 
        overflow: hidden;
    }
}