<h1>Sign up</h1>
<div class="input-container">
  <h2>Username</h2>
  <div class="field-container">
    <mat-icon class="icon">person_outline</mat-icon>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <input type="text" class="field" />
  </div>
</div>
<div class="input-container">
  <h2>Email</h2>
  <div class="field-container">
    <mat-icon class="icon">mail_outline</mat-icon>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <input type="email" class="field" />
  </div>
</div>
<div class="input-container">
  <h2>Password</h2>
  <div class="field-container">
    <mat-icon class="icon">password</mat-icon>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <input class="field" [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </div>
</div>
<button class="submit">Create account</button>
<p>
  Already have an account?<span><a (click)="signin()">Log in</a></span>
</p>
