<div class="card-container">
  <div class="heading">
    <div class="img-container unselectable">
      <img [src]="profilePath" alt="profile img" class="profile-img" />
      <button mat-icon-button (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
      </button>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="uploadFile($event)"
      />
    </div>
    <div class="profile-info">
      <h1>{{ fullname }}</h1>
      <h3>{{ "@" + username }}</h3>
    </div>
  </div>
  <div class="description">
    <div class="title-with-icon">
      <h2>Description</h2>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <p>-</p>
  </div>
</div>
