<div class="options-wrapper">
  <app-project-option-card
    icon="library_books"
    title="Write lyrics"
    path="lyrics"
  ></app-project-option-card>
  <app-project-option-card
    icon="insert_drive_file"
    title="Files"
    path="files"
    [paging]="true"
  ></app-project-option-card>
  <app-project-option-card
    icon="people"
    title="Group chat"
  ></app-project-option-card>
  <app-project-option-card
    icon="music_note"
    title="Arrange"
    path="arrange"
  ></app-project-option-card>
  <app-project-option-card
    icon="settings"
    title="Settings"
  ></app-project-option-card>
</div>
