:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
}

.user-info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    width: fit-content;
    margin-right: 0.5rem;
}

h3 {
    font-size: var(--font-small);
}

.role-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding-left: 1rem;
    color: var(--clr-primary);
    font-size: var(--font-smaller);
    height: 50%;
    cursor: pointer;
}
