:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    --mdc-checkbox-selected-focus-icon-color: #FF7F50;
    --mdc-checkbox-selected-hover-icon-color: #FF7F50;
    --mdc-checkbox-selected-icon-color: #FF7F50;
    --mdc-checkbox-selected-pressed-icon-color: #FF7F50;
    --mdc-checkbox-selected-focus-state-layer-color: #FF7F50;
    --mdc-checkbox-selected-hover-state-layer-color: #FF7F50;
    --mdc-checkbox-selected-pressed-state-layer-color: #FF7F50;
}

.uploadBtn {
    align-self: flex-end;
    background-color: var(--clr-secondary) !important;
    border-radius: 1.8rem;
}

.card-container {
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    justify-content: flex-start;
    padding-right: 3rem;
}

.created-by {
    flex: 1
}

.last-modified {
    justify-self: flex-end;
}