:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    --mdc-checkbox-selected-focus-icon-color: #FF7F50;
    --mdc-checkbox-selected-hover-icon-color: #FF7F50;
    --mdc-checkbox-selected-icon-color: #FF7F50;
    --mdc-checkbox-selected-pressed-icon-color: #FF7F50;
    --mdc-checkbox-selected-focus-state-layer-color: #FF7F50;
    --mdc-checkbox-selected-hover-state-layer-color: #FF7F50;
    --mdc-checkbox-selected-pressed-state-layer-color: #FF7F50;
}

.uploadBtn {
    align-self: flex-end;
    background-color: var(--clr-secondary) !important;
    border-radius: 1.8rem;
}

.card-container {
    // flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    // justify-content: flex-start;
    padding-right: 3rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: span 4;
    gap: 1rem;
    
}

.created-by {
    // flex: 1
    justify-self: flex-start;
    grid-column: span 2;
}

.last-modified {
    justify-self: flex-end;
    grid-column: span 2;
}

.paginator {
    border-radius: 1.8rem;
    padding: 0;
    color: var(--clr-secondary);
    font-size: var(--font-tiny);
    font-weight: 500;

    --mat-paginator-enabled-icon-color: var(--clr-secondary);
}