.profile-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.grid-content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
}

.grid-column-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row-start: 1;
    grid-row-end: span 2;
}

.grid-row-span-3 {
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column: 3;
}