<div class="card-container daw">
  <app-daw
    [dragging]="dragging"
    [projectId]="projectId"
    [masterRole]="role"
  ></app-daw>
</div>
<div class="card-container audio-list">
  <div class="title">
    <h1>Audio files</h1>
    <button
      mat-fab
      extended
      class="import-btn"
      (click)="importAudio()"
      [disabled]="role !== 'admin' && role !== 'manager'"
    >
      <span> Import </span>
      <mat-icon>publish</mat-icon>
    </button>
  </div>
  <p *ngIf="!audioFiles.length">No audio imported</p>
  <div id="fileDropList" cdkDropList [cdkDropListConnectedTo]="['appDawDrop']">
    <div
      class="title-with-icon"
      cdkDrag
      [cdkDragData]="a"
      (mousedown)="mouseDown()"
      *ngFor="let a of audioFiles"
    >
      <mat-icon>insert_drive_file</mat-icon>
      <h2 class="audio-file">{{ a.name }}</h2>
    </div>
  </div>
</div>
