<div
  #audioContainer
  tabindex="0"
  (focus)="selected()"
  (blur)="notSelected()"
  class="audio-container"
  [style.width.px]="audioLength"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp()"
  [class.disable]="masterRole !== 'admin' && masterRole !== 'manager'"
>
  <div
    class="left"
    tabindex="0"
    (mousedown)="
      this.resizingLeft = masterRole === 'admin' || masterRole === 'manager'
    "
  ></div>
  <div
    class="right"
    tabindex="0"
    (mousedown)="
      this.resizingRight = masterRole === 'admin' || masterRole === 'manager'
    "
  ></div>
  <div
    [id]="'waveform' + id"
    class="waveform-container"
    [style.transform]="'translate(' + -startTime * 100 + 'px, -1rem)'"
    [style.minWidth.px]="fullLength"
  ></div>
</div>
