.audio-container {
    background: rgb(46, 154, 158);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0.15rem solid var(--clr-secondary);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.audio-container:focus {
    border: 0.15rem solid var(--clr-primary);
}

.left {
    position: absolute;
    left: -1px;
    height: 100%;
    width: 3px;
    cursor: col-resize;
}

.right {
    position: absolute;
    right: 1px;
    height: 100%;
    width: 3px;
    cursor: col-resize;
}

.waveform-container {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
